@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

.container {
  @apply max-w-[1200px];
}

dialog::backdrop {
  @apply bg-black opacity-70;
}
