@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: all 0.2s ease-in-out;
  }

  html {
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

.container {
  @apply max-w-[1200px];
}

dialog::backdrop {
  @apply bg-black opacity-70;
}

.error-message {
  @apply p-2 bg-white text-app-warn border border-app-warn my-5;
}